<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>514863796015-ndsorusbq9cj6v4t34ala195sbbv91ff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514863796015-ndsorusbq9cj6v4t34ala195sbbv91ff</string>
	<key>API_KEY</key>
	<string>AIzaSyADaIkjocyhXogrD8XVbQjAHsE14Y0oF7o</string>
	<key>GCM_SENDER_ID</key>
	<string>514863796015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unmannedairlines.DJISimulatorExample</string>
	<key>PROJECT_ID</key>
	<string>canopus-dev-399a8</string>
	<key>STORAGE_BUCKET</key>
	<string>canopus-dev-399a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:226717043026:ios:0df47a45f588da1e</string>
	<key>DATABASE_URL</key>
	<string>https://canopus-dev-399a8.firebaseio.com</string>
</dict>
</plist>
